[submodule "libraries/pHash"]
	path = libraries/pHash
	url = https://github.com/dahadaller/pHash.git
[submodule "libraries/libscapi"]
	path = libraries/libscapi
	url = https://github.com/cryptobiu/libscapi.git
[submodule "libraries/blockMeanGist"]
	path = libraries/blockMeanGist
	url = https://gist.github.com/fa66ab07249b1bd4fb86ac24f86439b8.git
