[submodule "libraries/pHash"]
	path = libraries/pHash
	url = https://github.com/dahadaller/pHash.git
[submodule "libraries/libscapi"]
	path = libraries/libscapi
	url = https://github.com/cryptobiu/libscapi.git
